@font-face
{
font-family: 'Chunkfive';
src: url('../fonts/Chunkfive.otf');
}
@font-face
{
font-family: 'Serifa';
src: url('../fonts/Serifa.ttf');
}
@font-face
{
font-family: 'Molot';
src: url('../fonts/Molot.otf');
}
/* ------------------------------------ COMMON ELEMENTS ------------------------------------*/
body{
	margin: 0 0 0 0px;

	background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 18%, #000000 84%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#45484d), color-stop(84%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 18%,#000000 84%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 18%,#000000 84%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #45484d 18%,#000000 84%); /* IE10+ */
background: linear-gradient(to bottom, #45484d 18%,#000000 84%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
a{
	text-decoration: none;
}
a:visited{
	color: white;
}
.instructionText{
	font-family: Serifa;
	color: white;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
	font-size: 32px;
	text-align: center;
}

.footerText{
	font-family: Serifa;
	color: white;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
	font-size: 20px;
	position:absolute;
	bottom:20px;
}

.menuTitle{
	font-family: Molot;
	color: white;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
	font-size: 100px;
	text-align: center;
	margin-bottom:10px;
}

.menuItem{
	font-family: Serifa;
	color: white;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
	font-size: 24px;
}
/* ------------------------------------ INDEX ------------------------------------*/

.index .logoImage{
	width: 100%;
	margin-bottom:10px;	
}


/* ------------------------------------ SELECT MODE ------------------------------------*/
.selectMode .logoImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:40px;
	margin-top: 10px;
}

.menu{
	margin-left:150px;
	margin-right: 150px;
	margin-top:50px;
}
.menu img{
	width:30%;
	float:left;
	margin-right: 10px;
	margin-left: 10px	;
}

#facesImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
/* ------------------------------------ PROMPT ------------------------------------*/
#prompt{
	margin-top: 50px;
	margin-bottom:200px;
	font-size: 50px; 
}

.timerText{
	font-size: 20px;
	/*
	position:absolute;
	left:50%;
	bottom:20px;*/
}

/* ------------------------------------ MODULES ------------------------------------*/
.modules .imgContainer{
	margin-left:150px;
	margin-right: 150px;
	margin-top:50px;
}
.modules img{
	width:30%;
	float:left;
	margin-right: 10px;
	margin-left: 10px;
}

