.face
{
	position:absolute;
	height:120px;
	left: -60px;
	top: -60px;
}

#green_face
{

}

#red_face
{
	visibility: hidden;
}

#yellow_face
{
	opacity: 1;
	filter: alpha(opacity=100);
}


#mouth
{
	position:absolute;
	top:0px;
	left: -60px;
	width:120px;
	height:30px;
}

#mouth_sad
{
	position:absolute;
	top:0px;
	left: -60px;
	width:120px;
	height:30px;
	visibility:hidden;
}

#face
{
	position:absolute;
}

#slider_div
{
	position:absolute;
	left:700px;
}